.App {
    text-align: center;
}
.CommonHeader {
    background-color: black;
    height: 50px;
    color: white;
    font-size: 25px;
    text-align: left;
    font-weight: bold;
    padding-top: 15px;
}
.login-form {
    margin-top: 20px;
    background-color: antiquewhite;
}
.login-form .btn-group {
    margin-top: 30px;
}
.login-form .btn-group .login-btn {
    margin: 20px;
}
